<!DOCTYPE html>
<html>  
    <head>
        <meta charset=UTF8>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Per Disseny RESPONSIU?? -->
        <link rel="stylesheet" href="../public/css/styles.css">
        <title>Cero Residuo > Fitxa Categoria</title>
    </head>
    <body>
        <!-- <?php require "View/header.html"?> <<< HEADER per després-->
            <header>
                <nav class="navbar"> <!-- BARRA MENÚ PRINCIPAL ---------- -->
                    <div><a href="../index"> <img src="../public/images/header/Logo-cero-residuo-250-125c.webp" alt="Logo Cero Residuo" class="brand-title"></a></div>
                    <a href="#" class="toggle-button"> <!-- MENÚ Desplegable Format MÒBILS... -->
                        <span class="bar"></span> <!-- Línia/Simbol Menú Mobil -->
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                    <div class="navbar-links"> <!--Format PANTALLA AMPLA -->
                        <ul>
                            <li><a href="../includes/productos-inc.php">Productos</a></li>
                            <li><a href="#">Tiendas</a></li>
                            <li><a href="#">Regístrate</a></li>
                            <li><a href="#">Inicia Sesión</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="navbarcategories"> <!-- BARRA MENÚ CATEGORIES ----------  -->
                    <a href="#" class="toggle-buttoncategories"> <!-- MENÚ Desplegable Format MÒBILS... -->
                        <span class="barcateg"></span> 
                        <span class="barcateg"></span>
                        <span class="barcateg"></span>
                    </a> 
                    <div class="navbarcategories-links"> <!--Format PANTALLA AMPLA -->
                        <ul>
                            <li><a href="#">HIGIENE PERSONAL</a></li>
                            <li><a href="#">HOGAR</a></li>
                            <li><a href="#">ALIMENTACIÓN</a></li>
                            <li><a href="#">SUPLEMENTOS</a></li>
                            <li><a href="#">CRIANZA</a></li>
                            <li><a href="#">PARA LLEVAR</a></li>
                            <li><a href="#">PAPELERÍA</a></li>
                            <li><a href="#">KITS Y REGALOS</a></li>
                            <li><a href="#">REBAJAS</a></li>
                        </ul>
                    </div>
                </nav>
            </header>  
        <div class="content"> <!--CONTNGUT -->

            <h2>HIGIENE PERSONAL: Productos sin plásticos</h2>

            <div class="product-list"> <!--PRODUCTES -------------->
                <div class="product-item">
                    <a href="#"><img src="../public/images/products/HigienePerso_BarraJabonMarsella.webp" alt="Barra de Jabón de Marsella y Aceites Vegetales-2Kg">
                    <h3>Barra de Jabón de Marsella y Aceites Vegetales</h3></a>
                    <p>2Kg</p>
                    <div class="product-item-preu">26,50€</div>
                 <!--   <button>Ver >></button> -->
                </div>
                <div class="product-item">
                    <a href="#"><img src="../public/images/products/HigienePerso_SerumRejIntens.webp" alt="Sérum Rejuvenecedor Intensivo 15ml">
                    <h3>Sérum Rejuvenecedor Intensivo </h3></a>
                    <p>15ml</p>
                    <div class="product-item-preu">42,00€</div>
                </div>
                <div class="product-item">
                    <a href="#"><img src="../public/images/products/HigienePerso_CanvasCreamHidrat.webp" alt="Canvas Cream Hidratante 50ml">
                    <h3>Canvas Cream Hidratante</h3></a>
                    <p>50ml</p>
                    <div class="product-item-preu">12,50€</div>
                </div> 

                <div class="product-item">
                    <a href="#"><img src="../public/images/products/HigienePerso_BarraJabonMarsella.webp" alt="Barra de Jabón de Marsella y Aceites Vegetales-2Kg">
                    <h3>Barra de Jabón de Marsella y Aceites Vegetales</h3></a>
                    <p>2Kg</p>
                    <div class="product-item-preu">26,50€</div>
                </div>
                <div class="product-item">
                    <a href="#"><img src="../public/images/products/HigienePerso_CanvasCreamHidrat.webp" alt="Canvas Cream Hidratante 50ml">
                    <h3>Canvas Cream Hidratante</h3></a>
                    <p>50ml</p>
                    <div class="product-item-preu">12,50€</div>
                </div>

                
            </div>
        </div>
        <!-- <?php require "View/footer.html"?> <<< FOOTER per després -->

        <script src="../public/js/scripts.js"></script> 
    </body>
</html>