/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
body {font-family: Arial, Helvetica, sans-serif; font-size:0.9em; color:black; line-height: 1.4;}

ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

article { margin: 1em;} /* ARTICLES DEFINITS AMB ELEMENT (NO CLASSE) */
article img {margin: 0.5em;} /* MARGE IMATGES DELS ARTICLES DEFINIT DINS L'ELEMENT ARTICLE. */ 
article h2 {color:#CC6600; font-size:1.6em; line-height: 1.2; margin:0.25em;}
article a {color:#CC6600;}

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}


/* BORDERS ORIGINALS que s'han canviat:
#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777; } */

#cabecera { clear: both; padding: 1em; }
#cabecera #logo h1 { background-image: url("logo.gif"); background-size:contain; background-repeat:no-repeat; }

#noticias, #publicidad, #principal, #secundario
  {padding: 0.5em; border: 1px;} 

#noticias {border-style: solid; border-color: #C5C5C5;} /* BORDER Gris */
#publicidad {border-style: dotted; border-color: #CC6600; margin-top: 1em; background-color: #FFF6CD; color:#555} 
#publicidad a {color:#CC6600}

#secundario {border-style: solid; border-color: #CC6600; font-size: small;} 

#secundario h2 {background-color:#DB905C; padding: 1em; color:white; font-size: small; height:0%} /* COLOR FONDO I PADDING */
#noticias, #pie {background-color: #F8F8F8;}
#noticias h3 {color: #003366;}

#menu { clear: both; padding: 0.5em; margin-bottom: 0.5em; margin-right: 1em; border-bottom: 1px solid #004C99; background-image: url("fondo_menu.gif");}
#menu #menu_principal a {color:white; font-size:1.3em; text-decoration: none;} /* ENLLAÇOS BLANCS MENÚ */

#lateral { float: left; width: 20%; font-size: 0.9em; }
.fecha {color:#999; display:block;} /*Data en BLOC perquè el reste baixi a ball*/

#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 73%; }
#contenido #secundario { float: right; width: 20%; }

/* #publicidad { margin-top: 1em; background-color: #FFF6CD;} Posat a dalt tot junt*/

#pie { clear: both; padding-top: 0.5em; padding-bottom: 0.5em; margin-top: 1em; border-top: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;}


/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; } 

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */