body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  }

#barra-superior-navegacio {
    background-color: black;
    color:white;
    width: 70%;
    height: 180px;
 /* max-width: 900px; */
    margin: 0 auto; /* Centra sempre el bloc */
    text-align: center;
    padding:2%;
    }

  #logo {
    font-weight:bold; 
    font-size: 28px;
    padding:1%;
    } 

  #navegacio {
    font-weight:lighter; 
    font-size: 18px;
    padding-top:8%;
    color:white;
    margin-right: 20px;
    }

  #contingut {
    width: 70%;
    margin: 0 auto; /* Centra sempre el bloc */
    padding-top: 25px;
    /* background-color: rgb(232, 247, 202); PER PROVAR Colocació de capsa...*/
  }

  .titols {
    font-weight:bold; 
    font-size: 19px;
   /* margin-top: 10px;
    margin-bottom: 8px; */
  } 

  .subtitols {
    font-weight:bold; 
    font-size: 16px;
 /* white-space: pre-line;  o pre-wrap *//* PROVA que saltin les línies de text... */
  } 

  .subtitols-liniasota { /* Subtituls amb LÍNIA TEXT SUBRATLLAT LLARGA  */
    font-weight:bold; 
    font-size: 16px;
    text-decoration-skip-ink: none; /* Evitar que el subrayado se recorte */
    border-bottom: 1px solid rgb(192, 188, 188); /* Grosor y color del subrayado */
    padding-bottom: 2px; /* Espacio entre el texto y el subrayado */
  }

  .data {
    text-align: right;
    font-size: 13px;
    font-weight:bold; 
    color:gray;
  }

  .autor {
   font-size: 17px;
    color:rgb(196, 66, 5);
    margin-bottom: 5px;
  }

  .programa {
  /* margin-top: 5px; */ /* No Funciona!? */
    margin: 0 auto; /* Centra sempre el bloc */
    width: 85%;
  /* white-space: pre-line; /* o pre-wrap *//* Fa que saltin les línies de text. */
  }

  a {  /* Enllaços generals */
    font-weight:lighter; 
    color:rgb(196, 66, 5);
    margin-bottom: 5px;
   /* white-space: pre-line; */ /* o pre-wrap */
  }

  .links-petits { /* Només per Enllaços d'estil diferent */
    font-size: 14px;
    font-weight:lighter; 
    color:rgb(196, 66, 5);
  }


  table { /* TAULA ------------------------ */
    border-collapse: collapse;  /* Fusiona línies de cada celda (elimina línia doble) */
    width: 60%;
  /*margin-top: 25px;  No Funciona */
    white-space: nowrap; /* Mantenir Text sempre en una sola línia */
    margin: 0 auto; /* Centra sempre el bloc */
   /* display: flex; */
   /* justify-content: center; */
   font-size: 14px;
   margin-bottom: 20px;
  }

  table, th {   
    background-color: rgb(221, 215, 215);
    text-align: left;
    padding: 8px;
  }
  
  td { 
    border: 1px solid rgb(192, 188, 188);
    border-left: none;
    border-right: none;
    background-color: white;
    padding: 4px;
  } 

  .td-right {text-align: right;}

tfoot tr td { /* Footer de la Taula */
    background-color: rgb(221, 215, 215);
    font-weight:bold; 
    text-align: right;
  }  

  .flex-container { /* Coloca Fotos al costat del Text */
    display: flex;
    flex-wrap: wrap;
    align-items: left;
   /* justify-content: space-around; *//* Mirar el que fa ? */
  } 

  .fotos-comentaris {
    width: 80px;
    margin-right: 20px;
  }

  .text-comentaris {
    font-size: 13px;
    flex: 1; /* Coloca Fotos al costat del Text */
    } 

  .autor-comentari {
    color:rgb(196, 66, 5);
    font-weight:bold;
    }    

  .data-comentari {
    font-size: 12px;
    color:rgb(138, 135, 135);
    } 
    
    
