body {font-family:Arial, Helvetica, sans-serif}

#barra-superior-navegacio {
    background-color: black;
    color:white;
    width: 80%;
    height: 180px;
 /* max-width: 900px; */
    margin: 0 auto; /* Centra sempre el bloc */
    text-align: center;
    padding:2%;
    }

  #logo {
    font-weight:bold; 
    font-size: 28px;
    padding:1%;
    } 

  #navegacio {
    font-weight:lighter; 
    font-size: 18px;
    padding-top:8%;
    }

  /* Copia:
#barra-superior-navegacio {
    background-color: black;
    color:white;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  */