/* PROVES SELECTORS DESCENDENTS */

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 

  body h1 {
    font-size: 20;
    color:rgb(245, 169, 27);
  } 

  body h2 {
    font-size: 17;
    color:rgb(245, 169, 27);
  } 

  .destacat {
    color:rgb(27, 119, 4);
    font-weight: bold;
  } 


/* EXEMPLES: https://developer.mozilla.org/es/docs/Web/CSS/Descendant_combinator */ 
span {
    background-color: rgb(252, 226, 56);
  }
  div span {
    background-color: rgb(250, 243, 152);
  }

  